---
export const sizes = {
  small: "",
  medium: "sm:col-span-2",
  large: "row-span-2 sm:col-span-2 lg:aspect-square",
  wide: "sm:col-span-2",
};

const { size = "small", className = "", slug, extraStyle = "" } = Astro.props;
const sizeClass = sizes[size] || "";
---

<div class={`overflow-clip ${sizeClass} ${className} ${extraStyle}`}>
  {
    slug ? (
      <a href={slug}>
        <slot />
      </a>
    ) : (
      <slot />
    )
  }
</div>
