---
export const sizes = {
  // small: "",
  // medium: "sm:col-span-2",
  // large: "row-span-2 sm:col-span-2 lg:aspect-square",
  // wide: "sm:col-span-2",
  hero: "",
  project: "row-span-2 aspect-[1/1]",
  blog: "row-span1 aspect-[2/1]",
  musings: "row-span1 aspect-[2/1]",
};

const { size = "small", className = "", slug, extraStyle = "" } = Astro.props;
const sizeClass = sizes[size] || "";
---

<div class={`overflow-clip ${sizeClass} ${className} ${extraStyle}`}>
  {
    slug ? (
      <a href={slug}>
        <slot />
      </a>
    ) : (
      <slot />
    )
  }
</div>
