---
export const sizes = {
  hero: "row-span-2 sm:col-span-2 lg:aspect-square",
  blog: "aspect-[1.5]",
  project: "aspect-[1.5]",
  musings: "aspect-[1.5]",
};

const { size = "small", className = "", slug, extraStyle = "" } = Astro.props;
const sizeClass = sizes[size] || "";
---

<div class={`overflow-clip ${sizeClass} ${className} ${extraStyle}`}>
  {
    slug ? (
      <a href={slug}>
        <slot />
      </a>
    ) : (
      <slot />
    )
  }
</div>
