---
import BentoCard from "../Bento/Cards/BentoCard.astro";
import Socials from "./Socials.astro";
import "./styles.css";

import { getEntry, render } from "astro:content";
const entry = await getEntry("supplements", "hero");
const { Content } = await render(entry);
---

<BentoCard size="hero">
  <div class="hero prose prose-p:leading-snug space-y-4 text-xl md:text-3xl font-light text-extralight">
    <Content />
    <Socials />
  </div>
</BentoCard>
