@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.hero {
    .projects:hover {
        @apply decoration-blue-500;
    }
    .blog:hover {
        @apply decoration-amber-300;
    }
    .musings:hover {
        @apply decoration-emerald-400;
    }
}

.hero > *:first-child {
    margin-top: 0 !important;
}

.drop-in {
    opacity: 0;
    transform: translateY(-15px);
    animation: fadeInUp 0.5s forwards;
    animation-delay: calc(var(--anim-idx) * 0.1s);
}

.fade-in {
    opacity: 0;
    animation: fadeInUp 1s forwards;
    animation-delay: calc(var(--anim-idx) * 0.1s);
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.post-content > *:first-child {
    margin-bottom: 0 !important;
}

.collapse-content astro-slot > *:first-child {
    margin-top: 0.5rem !important;
}

.code-block {
    .has-highlighted .line {
        opacity: 0.5;
    }

    .has-highlighted .highlighted {
        opacity: 1;
    }

    .has-highlighted .output .line {
        opacity: 1 !important;
    }

    hr {
        margin: 0.75rem 0 !important;
    }

    code {
        display: block; /* makes the element a block-level element */
        max-width: 100%; /* ensures it doesn’t exceed the parent’s width */
        overflow-x: auto; /* enables horizontal scrolling if needed */
        white-space: pre; /* preserves whitespace (or use pre-wrap if desired) */
    }
}
