@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.post-content > *:first-child {
    margin-bottom: 0 !important;
}

.hero > *:first-child {
    margin-top: 0 !important;
}

.collapse-content astro-slot > *:first-child {
    margin-top: 0.5rem !important;
}
