---
import { getPublishedEntries } from "../../utils";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogCard from "../Cards/BlogCard.astro";
import ProjectCard from "../Cards/ProjectCard.astro";
import MusingsCard from "../Cards/MusingsCard.astro";
import ContentGrid from "../Layout/ContentGrid.astro";

// Retrieve requested collection
const { collectionName, title, subtitle, flavorText } = Astro.props;

// Extract all blog posts from collections
const content = await getPublishedEntries(collectionName, false);

// Determine Component to Render
const componentMap = {
  blog: BlogCard,
  projects: ProjectCard,
  musings: MusingsCard,
};

const Component = componentMap[collectionName];
const elems = [
  ...content.map((entry) => ({
    component: Component,
    props: { entry: entry },
  })),
];
---

<BaseLayout title={title}>
  <div class="fade-in mx-auto max-w-base pb-2">
    <span class="flex text-6xl mt-6 mb-2 lowercase font-serif font-medium">
      <div>{subtitle}<span class="text-accent">.</span></div>
    </span>
    <div class="text-base">{flavorText}</div>
  </div>
  <ContentGrid elements={elems} />
</BaseLayout>
