---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <p>
    Hey, I'm Patrick 👋 I build sustainable solutions to real-world problems for
    an exciting future.
  </p>
  <p>
    Previously, I completed my Computer Science MS and developed Simulation
    Software @ SpaceX.
  </p>
  <p>
    Currently, I'm a Software Engineer II working on Simulations for Autonomy @
    Rivian!
  </p>
</BaseLayout>
