---
import ResumeButton from "./ResumeButton.astro";
import TitleName from "./TitleName.astro";
import NavItems from "./NavItems.astro";
---

<div class="sticky py-2">
  <div class="flex justify-between items-center">
    <TitleName path="/" text="Patrick" />
    <NavItems />
    <ResumeButton path="/PatrickYoussefResume.pdf" text="Resume" />
  </div>
</div>
