---
import NavItems from "./NavItems.astro";
import ResumeButton from "./ResumeButton.astro";
import TitleName from "./TitleName.astro";
---

<div class="my-3 mx-auto">
  <div class="flex justify-between items-center">
    <TitleName path="/" text="Patrick" />
    <NavItems />
    <ResumeButton path="/PatrickYoussefResume.pdf" text="Resume" />
  </div>
</div>
