---

---

<div class="font-medium text-sm text-light space-x-2">
  <a class="hover:text-black transition duration-300" href="/projects">Projects</a>
  <a class="hover:text-black transition duration-300" href="/blog">Blog</a>
  <a class="hover:text-black transition duration-300" href="/musings">Musings</a>
</div>
