---
const { path, text } = Astro.props;
---

<a href={path} target="_blank">
  <div class="border-accent border-[0.1rem] rounded-full hover:bg-accent/10 transition duration-300">
    <div class="font-medium text-sm/4 py-2 px-3">{text}</div>
  </div>
</a>
