---
const { path, text } = Astro.props;
---

<a href={path}>
  <div class="border-accent border-[0.1rem] rounded-full hover:bg-accent/10 transition duration-300">
    <div class="font-medium text-base/4 p-3">{text}</div>
  </div>
</a>
