---

---

<div class="border-t-[1px] border-edge">
  <div class="flex items-center justify-center text-lg">
    <div class="my-2 text-center">
      <div>Designed and Built by Patrick Youssef</div>
      <div>Powered by Astro</div>
    </div>
  </div>
</div>
