---
let currentYear = new Date().getFullYear();
---

<footer class="text-sm text-extralight lowercase mt-6 pb-6 fade-in">
  <div class="flex space-x-2 justify-center">
    <div>&copy {currentYear} patrick youssef</div>
    <div>·</div>
    <a href="https://linkedin.com/in/patricksyoussef" target="_blank" class="hover:underline">linkedin</a>
    <div>·</div>
    <a href="mailto:patricksyoussef@gmail.com" class="hover:underline">email</a>
  </div>
  <div class="flex flex-wrap justify-center items-center gap-x-[0.25em]">
    <span class="mt-1">site built with astro, tailwind, shiki.</span>
    <span class="mt-1">typeset in petrona & dm sans.</span>
  </div>
</footer>
