---
const props = Astro.props;
---

<blockquote {...props} class="flex flex-row not-prose">
  <div class="w-[0.4rem] bg-accent rounded-l-[0.4rem]"></div>
  <div class="p-4 w-full bg-darken text-xl border-edge border rounded-content border-l-0 rounded-l-[0px]">
    <slot />
  </div>
</blockquote>
