---
const props = Astro.props;
---

<blockquote {...props} class="flex flex-row not-prose italic">
  <div class="w-2 bg-accent rounded-l-content"></div>
  <div class="p-4 w-full bg-gray-100 border-edge border-[1px] rounded-content border-l-0 rounded-l-[0px]">
    <slot />
  </div>
</blockquote>
