---
const { alt, aspectRatio } = Astro.props;
---

<div class="flex justify-center flex-col">
  <div class="rounded-content w-full mx-auto not-prose overflow-clip shadow-md mb-2 border-edge border" style={`aspect-ratio: ${aspectRatio};`}>
    <slot />
  </div>
  <div class="text-center italic">{alt}</div>
</div>
