---
const { id } = Astro.props;
import Underline from "../Underline.astro";
---

<Underline extraStyle="mb-6">
  <div>
    <h1 class="my-0" id={id}>
      <a class="not-prose" href={`#${id}`}>
        <slot />
      </a>
    </h1>
  </div>
</Underline>
