---
import { Image } from "astro:assets";
import ContentWrapper from "./ContentWrapper.astro";
const { src, alt, otherProps } = Astro.props;
---

<div {...otherProps}>
  <ContentWrapper>
    <Image src={src} alt="" />
  </ContentWrapper>
  <div class="text-center italic">{alt}</div>
</div>
