---

---

<div class="prose md:prose-lg mx-auto prose-ul:leading-6 prose-ul:list-outside prose-headings:font-medium prose-a:text-accent" }>
  <div class="prose-thead:border-accent text-black">
    <slot />
  </div>
</div>
