---
import BaseLayout from "../BaseLayout.astro";
import { render } from "astro:content";

const { entry } = Astro.props;
const frontmatter = entry.data;
const { Content } = await render(entry);

// Form the markdown overrides
import BlockQuote from "../../components/MDX/Blockquote.astro";
import HeaderLink from "../../components/MDX/HeaderLink.astro";
import P from "../../components/MDX/P.astro";
const components = {
  h1: HeaderLink,
  blockquote: BlockQuote,
  p: P,
};
---

<BaseLayout title={frontmatter.title} class="post-layout">
  <div class="post-content max-w-content mx-auto">
    <Content components={components} />
  </div>
</BaseLayout>
