---
const { title } = Astro.props;
// Supports weights 400-700
import '@fontsource-variable/lora/wght-italic.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="bg-default font-serif font-">
    <div class="max-w-base w-full mx-auto p-6">
      <slot />
    </div>
  </body>
</html>
