---
import "@fontsource-variable/dm-sans/opsz.css";
import "@fontsource-variable/petrona";
import "@fontsource-variable/petrona/wght-italic.css";
import "@fontsource/jetbrains-mono";
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/globals.css";

const { title } = Astro.props;
const pageTitle = title ? `${title} | Patrick Youssef` : "Patrick Youssef";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/seedling.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    <script is:inline>
      window.addEventListener("DOMContentLoaded", () => {
        const hash = window.location.hash;
        if (hash) {
          // Prevent automatic browser scrolling
          history.scrollRestoration = "manual";
        }
      });

      window.addEventListener("load", () => {
        const hash = window.location.hash;
        if (hash) {
          const el = document.getElementById(hash.substring(1));
          if (el) {
            el.scrollIntoView({ behavior: "auto", block: "start" });
          }
        }
      });
    </script>
  </head>
  <body class="bg-background font-sans">
    <div class="h-2 bg-accent"></div>
    <div class="mx-4 md:mx-10">
      <div class="w-full mx-auto">
        <Header />
        <slot />
        <Footer />
      </div>
    </div>
  </body>
</html>
